
.container.is-fluid {
    padding-left: 4px;
    padding-right:4px;
}

article {
    background-color: #fafafa;
}

article.post{
     margin: 10px;
}

.box {
    padding: 0.2rem;
    margin: 0.1rem;
}

.rating-text {
    font-size: 1.5rem;
    margin: 2px;

}

/* cropped review image */
  .cropped {
    width: 100%; /* width of container */
    height: 220px; /* height of container */
    object-fit: cover;
    object-position: center center; /* try 20px 10px */ 
    border: 5px solid black;
}

/* Add space below form fields */
.field:not(:last-child) {
    margin-bottom: 1.2em;
}
