{% extends "base.html" %}

{% block content %}

<h1 class="title has-text-centered">Add Category</h1>
<!--Add Category Form -->
<form action="{{url_for('add_category')}}" method="POST">
  <!-- Category Name -->
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" id="category_name" name="category_name" placeholder="Category Name" minlength="3"
        maxlength="20" pattern="^[a-zA-z0-9 ]{5,20}$" required>
      <span class="icon is-small is-left">
        <i class="fas fa-folder"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <!--Style Dropdown option -->
  <div class="field">
    <label for="tag_style" class="label">Styling</label>
    <div class="control has-icons-left">
      <div class="select is-medium">
        <select id="tag_style" name="tag_style" required>
          <option value="" disabled>Select Style</option>
          {% for key, value in tag_styles.items() %}
             <option value="{{value}}">{{ key|upper }}</option>
          {% endfor %}
        </select>
      </div>
      <span class="icon is-medium is-left">
        <i class="fas fa-list-alt"></i>
      </span>
    </div>
  </div>
  <!-- Add Category Submit -->
  <div class="field">
    <p class="control">
      <button type="submit" class="button is-info is-outlined">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>
          Add Category
        </span>
      </button>
    </p>
  </div>
</form>


{% endblock%}