<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Revuu-IT</title>
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <!-- Fontawesome Icons-->
      
        <!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- Bulma Version 0.9.0-->
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/forum.css') }}" type="text/css" >
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" >
        {% block styles %}
        {% endblock %}
        
	</head>
	<body>
		<nav class="navbar is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="../">
						RevUU-IT
					</a>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">
                        <a class="navbar-item" href="#">Home</a>
                        <a class="navbar-item" href="#">Profile</a>
						<a class="navbar-item" href="#">New Review</a>
						<a class="navbar-item" href="#">Manage Categories</a>
						<a class="navbar-item" href="#">Extra</a>
					</div>
					<div class="navbar-end">
						<div class="navbar-item">
							<div class="field is-grouped">
								<p class="control">
									<a href="{{url_for('register')}}" class="button is-small">
										<span class="icon">
											<i class="fa fa-user-plus"></i>
										</span>
										<span>
											Register
										</span>
									</a>
								</p>
								<p class="control">
									<a class="button is-small is-info is-outlined">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
										<span>Log in</span>
									</a>
                                </p>
                                <p class="control">
									<a class="button is-small is-danger is-outlined">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
										<span>Log Out</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<nav class="navbar is-white">
			<div class="container">
				<div class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item is-active" href="#">Popular</a>
						<a class="navbar-item" href="#">Recent</a>
						<a class="navbar-item" href="#">Rising</a>
					</div>
					<div class="navbar-end">
						<div class="navbar-item">
							<input class="input" type="search" placeholder="Search Revuu-IT.">
						</div>
					</div>
				</div>
			</div>
        </nav>
        <!-- Flash Messages Container -->
        <section class="container">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="notification is-info is-light">
                    <button class="delete"></button>
                      <strong>{{ message }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </section>
        <!-- Main Container -->
		<section class="container">
			<div class="columns">
				<div class="column is-3">
					<a class="button is-primary is-block is-alt is-large" href="#">New Revuu!</a>
					<aside class="menu">
						<p class="menu-label">
							Current Categories
						</p>
						<ul class="menu-list">
                            <li><span class="tag is-primary is-medium ">Restaurant</span></li>
                            <br>
                            <li><span class="tag is-link is-medium ">Bar</span></li>
                            <br>
                            <li><span class="tag is-light is-danger is-medium ">Accommodation</span></li>
                            <br>
                            <li><span class="tag is-dark is-medium ">Rental</span></li>
                            <br>
                            <li><span class="tag is-success is-medium ">Point of Interest</span></li>
                            <br>
                            <li><span class="tag is-warning is-medium ">Movie</span></li>
                            <br>
							<li><span class="tag is-medium ">Theatre</span></li>
						</ul>
					</aside>
                </div>
				<div class="column is-9">
					<div class="box content">
                        {% block content %}
                        {% endblock %}
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
                                <a href="{{url_for('register')}}" class="button is-small">
                                    <span class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    <span>Register</span>
                                </a>
							</div>
							<div class="control">
                                <a href="#" class="button is-small is-info is-outlined">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                   <span>Login</span>    
                                </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
        <script async type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	</body>
</html>