{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="card">
        <div class="card-content">
        <h1>Profile</h1>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <span style="font-size: 48px; color: Dodgerblue;">
                    <i class="fas fa-user"></i>
                  </span>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Username: {{ username }}</p>
              <p class="subtitle is-6">Email: {{ email }}</p>
            </div>
          </div>
      
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="{{ readable_ts }}">{{ readable_dt }}</time>
          </div>
        </div>
      </div>
  </div>
{% endblock %}