{% extends "base.html" %}

{% block content %}
        <h1>Reviews</h1>
        {% for review in reviews %}
     
        <article class="card post">
            <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{ review.images.image_url }}" alt="Placeholder image">
                </figure>
              </div>
           
            <div class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <h4>{{ review.review_title|upper }}:
                                {% if review.category_name == "poi" %}
                                <span class="tag is-success is-large">{{review.category_name|upper}}</span>
                              {% elif review.category_name == "restaurant"  %}
                                 <span class="tag is-primary is-large">{{review.category_name|upper}}</span>
                              {% elif review.category_name == "accommodation"  %}
                                 <span class="tag is-danger is-light is-large">{{review.category_name|upper}}</span>
                              {% elif review.category_name == "movie"  %}
                                 <span class="tag is-warning is-large">{{review.category_name|upper}}</span>
                              {% elif review.category_name == "bar"  %}
                                 <span class="tag is-info is-large">{{review.category_name|upper}}</span>
                              {% else %}
                                 <span class="tag is-success is-large">{{review.category_name|upper}}</span>
                              {% endif %} </h4>
                            {{ review.review_description }}
                        </p> 
                        <p>
                            Reviewed By: {{ review.created_by }} &nbsp;
                            Created on : {{review.ts|ctime}}  &nbsp;
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <span class="has-text-grey-light rating-text"><i class="fa fa-star has-text-warning"></i>{{ review.star_rating }}</span>
                </div>
            </div>
        </article>
        {% endfor %}


{% endblock %}